:root {
  --kayfo-orange: #DA7F14;
  --kayfo-orange-light : #FFA500;
  --kayfo-violet: #280439;
  --kayfo-pink: #FF2264;
  --kayfo-dark-pink:#982062;
}

.App{
  /* overflow: hidden; */
  background-image: url('../assets/img/bg-pattern.png');
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-color: #2d1b35;
}


body
{
  overflow-x: hidden;
}

img
{
  object-fit: contain;
}

.kayfo-header{
  background-color: var(--kayfo-violet) !important;
  --bs-navbar-padding-y: 15px;
}
.kayfo-logo
{
  max-height: 50px;
}
.kayfo-connexion-btn
{
  background-color: var(--kayfo-orange);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  transition: all ease-in .2s;
  padding-top: 4px;
}
.kayfo-connexion-btn:hover
{
  color: #000;
  background-color: #fff;
  transition: all ease-in .1s;
}

.kayfo-signin-btn
{
  background-color: var(--kayfo-pink);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  transition: all ease-in .2s;
  padding-top: 4px;
}

.kayfo-signin-btn:hover
{
  color: #fff;
  background-color: #0c0111;
  transition: all ease-in .1s;
}

.kayfo-signin-box
{
  background-color: #ffffff15;
  padding: 15px 15px 50px 15px;
  border-radius: 8px;
}

.kayfo-signin-input
{
  color: #ffffff;
}
.kayfo-signin-input:focus
{
  color: #ffffff;
}

.kayfo-signin-input::placeholder
{
  color: #ffffff54;
}

.kayfo-categories-banner
{
  background-color: var(--kayfo-dark-pink);
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: 1px;
}
.kayfo-categories-banner div
{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}
.kayfo-categories-banner div div
{
  margin:0px;
  padding-left: 10px;
  padding-right: 10px;
}

.kayfo-select-filter
{
  min-width: 150px;
  margin:0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}
.kayfo-select-filter *
{
  color: #fff;
  background-color: var(--kayfo-violet);
}

.kayfo-select-option:hover
{
  color: #fff;
  background-color: var(--kayfo-violet) !important;
}

.form-select
{
  --bs-form-select-bg-img:url('../assets/icons/select-arrow.png');
}

.kayfo-category-btn
{
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-weight: bold;
  border-color: #fff;
  text-wrap: nowrap;
}
.kayfo-category-btn:hover
{
  background-color: var(--kayfo-pink);
  border-color: var(--kayfo-pink);
}

.kayfo-category-btn .active
{
  background-color: var(--kayfo-pink);
  border-color: var(--kayfo-pink);
}

.kayfo-category-btn.active
{
  background-color: var(--kayfo-pink);
  border-color: var(--kayfo-pink);
}

.kayfo-category-btn:not(:disabled):not(:disabled):active {
  background-color: var(--kayfo-violet);
  border-color: var(--kayfo-pink);
}

.kayfo-block-header
{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.kayfo-block-title
{
  color: #fff;
  font-size: large;
  flex: 2;
  font-weight: bold;
  cursor: pointer;
}

.kayfo-block-arrow
{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.kayfo-block-arrow img
{
   max-height: 20px;
}

.kayfo-body-content
{
  padding-bottom: 0px;
}

.kayfo-masonry-container{

  display:'flex';
  min-height:220px;
  flex-direction:'column';
  justify-content:'space-between';
  box-sizing: border-box;
}

.kayfo-masonry-item{
  
  display:'flex';
  flex:1;
  min-width:220px;
  margin-bottom:14px;
  margin-top:14px;
  margin-left:7px;
  margin-right:7px;
  border-radius:6px;
  background-color:'darkcyan';
  box-sizing: content-box;
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.25);
}


.kayfo-masonry-item img {
  
  border-radius:6px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.kayfo-masonry-main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.kayfo-masonry-main {
  margin-bottom: 5px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.kayfo-bottom-nav{
  display: none;
  background-color: #28043942 !important;
  border: none;
}

.kayfo-bottom-nav-link
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
}

.kayfo-bottom-nav-link img
{
  filter: grayscale(100%) brightness(1000%);
  width: 40px;
  padding: 5px;
  transition: all ease-in 0.2s;
}

.kayfo-bottom-nav-link.active
{
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--kayfo-orange) !important;
}

.kayfo-bottom-nav-link.active img
{
  filter: none;
  transition: all ease-in 0.2s;
}


.kayfo-footer-box
{
  color:'white';
  display:flex;
  flex-direction:column;
  padding-top:30px;
  padding-bottom:30px;
  background-color: var(--kayfo-violet);
}

.kayfo-logo-footer
{
  max-height: 90px;
}

.kayfo-social-link img
{
  width: 80%;
}
.kayfo-footer-links-nav
{
  display:flex;
  justify-content:space-around;
  color:'white';
  margin-top:30px;
}

.kayfo-footer-links-nav *
{
  color: #fff;
}


.kayfo-categories-footer
{
  background-color: transparent;
  /* max-width: 100%; */
  margin-bottom: 30px;
}

.kayfo-filter-no-result-box
{
  padding:25px 0px;
  color:#fff;
  background-color:#ffffff12;
  text-indent:15px;
  margin:15px 0px;
}

/* .kayfo-categories-footer div
{
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kayfo-categories-footer div div
{
  margin: 10px;
} */



.kayfo-games-pagination-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}


.kayfo-games-pagination *
{ font-family: 'Nunito';
  font-weight: normal;
  margin: 5px;
  border-radius: 15px !important;
  /* background-color: var(--kayfo-dark-pink);
  border: solid 1px #fff; */
}


.kayfo-games-pagination * a
{ 
  background-color: var(--kayfo-dark-pink);
  border: solid 1px #fff;
  text-decoration: none;
}
ul li.page-item span
{ 
  color: #ffffff;
}

ul li.page-item:hover span
{ 
  color: #2d2d2d;
}


a.page-link
{
  color: #fff;
}

ul li.page-item.active span
{ 
  background-color: var(--kayfo-orange);
  border: solid 1px #fff;
  color: #000000;
  text-decoration: none;
}

.page-link:hover 
{ 
  background-color: var(--kayfo-orange);
  border: solid 1px #fff;
  color: #000000;
  text-decoration: none;
}


.kayfo-game-detail-container
{
  background-color: var(--kayfo-violet);
  border-radius: 6px;
  position: relative;
  color: #fff;
}

.kayfo-game-detail-img
{
  max-height: 450px;
  object-fit: cover;
}

.kayfo-playnow-btn
{
  position: absolute;
  width: 30%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--kayfo-orange-light);
  border-radius: 26px;
  padding: 14px 40px;
  border: solid 1px #fff;
}

.kayfo-playnow-btn:hover
{
  background-color: var(--kayfo-violet);
}

.kayfo-playnow-btn:disabled
{
  background-color: gray;
  border-color: var(--kayfo-orange);
}

.kayfo-upgrade-btn
{
  background-color: var(--kayfo-orange-light);
  font-weight: bold;
  font-size: 13px;
  margin-left: 5px;
}

.kayfo-upgrade-btn:hover
{
  background-color: var(--kayfo-orange);
}

.kayfo-subscription-pack, .kayfo-subscription-pack-selected
{
  position: relative;
  display:flex;
  flex-direction:column; 
  padding-bottom:8px;
  padding-top:8px; 
  background: linear-gradient(0deg, rgba(98,5,48,1) 20%, rgba(68,21,80,1) 100%);
  border-radius:8px;
  outline: solid 2px transparent;
  transition: all ease-in 0.25s;
  cursor: pointer;

}

.kayfo-subscription-pack:hover
{
  outline: solid 2px #A48EFF;
  transition: all ease-in 0.25s;

}

.kayfo-payment-method
{
  background-color: #D9D9D920;
  padding: 7px;
  border-radius: 6px;
  outline: solid 2px transparent;
  transition: all ease-in 0.25s;
  cursor: pointer;
}

.kayfo-payment-method:hover
{
  outline: solid 2px #A48EFF;
  transition: all ease-in 0.25s;
}

.kayfo-addfav
{
  padding: 10px;
  width: 47px;
  height: 47px;
  background-color: #87878794;
  border-radius: 50%;
  cursor: pointer;
}

.kayfo-progress-btn
{
  background-color: var(--kayfo-pink);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  transition: all ease-in .2s;
}
.kayfo-progress-btn:hover
{
  color: #000;
  background-color: #fff;
  transition: all ease-in .1s;
}


@media only screen and (max-width: 600px) {
  
  .kayfo-categories-banner div
  {
    justify-content: flex-start;
  }
  .kayfo-category-btn
  {
    --bs-btn-padding-y: 6px;
  }
  .kayfo-bottom-nav{
    display: block;
  }
  .kayfo-footer-box
  {
    padding-bottom: 130px;
  }
  .kayfo-playnow-btn
  {
    position: absolute;
    width: auto;
    text-wrap: nowrap;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #fff;
  }
  
  .kayfo-game-detail-img
  {
    max-height: 250px;
  }

  .kayfo-signin-box
  {
    background-color: transparent;
  }
}
